<style type="text/css">
     #engagement-party-container {
         width: 500px;
         height: 570px;
         text-align: center;
         position: relative;
     }
     #date-and-time-container {
         text-align: center;
         width: 250px;
         margin: 15px auto;
         
     }
     #date-and-time-container p {
         font-size: 18pt;
         color: #CCCCFF;
     }
     #iron-monkey-link, #iron-monkey-link:visited { color: whitesmoke;text-decoration: underline;cursor: pointer; }
</style>

<div id="engagement-party-container" class="content ui-corner-all">
    <p style="color:#9f4d95;">Join us at</p>
    <img src="~/Content/Images/im-header.png" style="width: 350px; margin: 10px auto;"/>
    <div id="date-and-time-container">
        <p>
            July 6th, 2013<br/>
            12:00pm - 3:00pm<br/>
        </p>
    </div>
    <div style="float: left; width: 250px; height: 200px; margin: auto;">
        <address style="margin-top: 50px;">
            <span style="color:#9f4d95;">The Iron Monkey</span> <br/>
            97 Greene St <br/>
            Jersey City, NJ <br/>
            <a id="iron-monkey-link" href="http://www.ironmonkey.com">www.ironmonkey.com</a>
        </address>
    </div>       
    <div style="float: left; width: 210px;">
        <iframe width="200" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=the+iron+monkey+jersey+city&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hq=the+iron+monkey&amp;hnear=Jersey+City,+Hudson,+New+Jersey&amp;t=m&amp;ll=40.715127,-74.03532&amp;spn=0.006506,0.00854&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=the+iron+monkey+jersey+city&amp;oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hq=the+iron+monkey&amp;hnear=Jersey+City,+Hudson,+New+Jersey&amp;t=m&amp;ll=40.715127,-74.03532&amp;spn=0.006506,0.00854&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>
    </div>
    <div style="clear: both;"></div>
 
</div>