@model CorriAndMike.Models.Guest

@{
    ViewBag.Title = "AddGuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddGuest</h2>

<table id="add-user-table">
    <tr>
        <td>First Name:</td>
        <td>@Html.TextBoxFor(m => m.FirstName)</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@Html.TextBoxFor(m => m.LastName)</td>
    </tr>
    <tr>
        <td colspan="2"><input type="button" id="submit-new-user" value="Submit"/><td/>
    </tr>
</table>
@Html.HiddenFor(m => m.Id)

<script type="text/javascript">
    $("#submit-new-user").click(function() {
        $.ajax({
            type: "POST",
            url: "@(Url.Content("~/api/Guest"))",
            data: { FirstName: $("#FirstName").val(), LastName: $("#LastName").val() },
            success: function(data, text, xhr) {
                console.log(xhr.status + " - " + text);
            }
        });
    });
</script>