@model CorriAndMike.ViewModels.Rsvp.LoginViewModel

<link href="~/Content/Styles/Rsvp/rsvp.css" rel="stylesheet" />

<div id="login-container" class="content ui-corner-all">
    <div id="instructions">Please enter the number found on your invitation.</div>
    <table id="auth-table">        
        <tr><td>Invitation Number</td></tr>
        <tr><td>@Html.TextBoxFor(m => m.InvitationId)</td></tr>
        @*<tr><td>Password</td></tr>
        <tr><td>@Html.PasswordFor(m => m.Password)</td></tr>*@
        <tr><td><input type="button" id="rsvp-login" value="Login" /></td></tr>
        <tr><td><label id="login-error-msg" style="color:red; font-family: trebuchet;"></label></td></tr>
    </table>
</div>

<script type="text/javascript">
    var checkInvitationUrl = "@(Url.Content("~/api/Invitation"))";
    var getInvitationUrl = "@(Url.Action("GetInvitation", "Rsvp"))";
    $(function() { $("#InvitationId").focus(); });
</script>

<script src="~/Content/Scripts/Rsvp/rsvp.js"></script>
