<style type="text/css">
     #home-container {
         width: 500px;
         height: 570px;
         text-align: center;
         position: relative;
     }     
     #countdown-footer {
         position: absolute;
         bottom: 20px;
         left: 70px;
         font-size: 20px;
     }
 </style>

<div id="home-container" class="content ui-corner-all">
    <div id="countdown-footer">
        @{ var daysLeft = Math.Abs(DateTime.Now.Subtract(new DateTime(2013, 7, 6)).Days); }
        @if (daysLeft >= 2)
        {
            @:<span style="color: #9f4d95;">@daysLeft</span>&nbsp;days until our <span style="color: #CCCCFF">Engagment Party!</span>   
        }
        else
        {
            @:<span style="color: #9f4d95;">@daysLeft</span>&nbsp;day left until our Engagment Party! 
        }
        <br/><span style="font-size: 15px;">Have you <a id="rsvp-countdown-link" style="color:  #CCCCFF;">RSVPed</a>?</span>
    </div>
</div>

