#about-container {
    width: 500px;
    height: 570px;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;   
}
p {
    width: 440px;
    text-align: center;
    margin: 5px auto;
}
h2 {
    color: #ccccff;
}
#engagement-container {
    width: 500px;
    height: 570px;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;   
}

#wedding-container {
    width: 500px;
    height: 570px;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;   
}