#about-container {
    width: 600px;
    height: 592px;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px #cecece;
}
p {
    width: 540px;
    text-align: center;
    margin: 5px auto;
}
h2 {
    color: #9e9efd;
}