h1, h2, h3, h4 {
    color: #9e9efd;
    padding: 0;
    margin: 0;
}
p {
    color: #4d2548;    
}
a {
    word-break: break-all;
}
.content-header {
    color: #9e9efd;
    font-family: 'Waiting for the Sunrise', garamond, serif !important;
    padding: 10px;
    margin: 7px 0;
    background: #4d2548; /* Old browsers */
    background: -moz-linear-gradient(top, #4d2548 0%, #6d3565 44%, #51274b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d2548), color-stop(44%,#6d3565), color-stop(100%,#51274b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4d2548 0%,#6d3565 44%,#51274b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4d2548 0%,#6d3565 44%,#51274b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4d2548 0%,#6d3565 44%,#51274b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4d2548 0%,#6d3565 44%,#51274b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d2548', endColorstr='#51274b',GradientType=0 ); /* IE6-9 */
}
.mobile-content {
    background-color: white;
    text-align: center;
    display: none;
    padding-top: 5px;
    font-family: 'Trebuchet', garamond, serif !important;
}
.mobile-content h4 {
    font-family: 'Waiting for the Sunrise', garamond, serif !important;
    font-size: 26px;
}
.mobile-content p {
    margin: 5px 0 15px 0;
}
.header-section {
    text-align: center;
    margin-bottom: 10px;
}
.content-section {
    margin: 3px 0;
}
.left-align {
    text-align: left !important;
}
#packing-list {
    list-style-type: square;
    margin-left: 10px;
    color: #4d2548;
}

#wedding-booking-info p, #wedding-booking-info address, #wedding-booking-info td, #wedding-booking-info th, #wedding-booking-info h3, #wedding-booking-info li {
    font-family: 'Trebuchet', serif !important;    
    text-align: left !important;
    font-weight: normal !important;
    padding: 0 7px;
}

#wedding-booking-info li {
    font-weight: bold;
}
