<link href="~/Content/Styles/About/aboutthecouple.css" rel="stylesheet" />

<div id="about-container" class="content ui-corner-all">
    <h2>How they met...</h2>
    <p>
        Corri and Mike met in the grandest of fashions—<span style="color: #ccccff;">at work!</span>  After several failed attempts to woo each other at the office, 
        it took Mike’s cousin kidnapping Corri and whisking her off to Jersey to get the sparks flying.  Their relationship was a 
        secret for only a couple weeks until coworkers caught them kissing at a Christmas party.  
        <br/><br/>
        It was clear early on that they met 
        their matches for life—both are a little bit nerdy and have ridiculous shoe obsessions.  After several trips between the 
        Jerz and Harlem, Mike shooting his first gun in Idaho, Corri moving to Jersey where Mike attempted (and failed) to teach her 
        how to drive a manual car, the adoption of a crazy puppy named Jax and Hurricane Sandy the question was popped!
    </p>
    <br/>
    <h2>The engagement...</h2>
    <p>
        Two days before Corri’s birthday in early March, Mike said he had an early birthday present to give her.  Corri knew it was serious because Mike put Jax in 
        his crate and sat her down.  First he presented her with a shoe box of the most beautiful and luxurious pair of shoes, which sent Corri into a hyperventilating fit.   
        These particular shoes represented “making it” and “success”— a goal Corri had been working towards since moving to New York.  
        <br/><br/>
        As Mike got down on one knee to slip 
        the beautiful shoe onto her foot, he also reached into his pocket for a tiny blue box and talked about setting a new goal since she already reached her first.  
        As Corri caught on to what was happening, the hyperventilating increased and she immediately said “yes” about 52 times.  To this day, she still has no idea what 
        Mike planned on saying or if she was answering a particular question.  
    </p>
    <br/>
    <h2>Wedding plans...</h2>
    <p>
        In short, there are none!  We are enjoying engaged life and taking our time making wedding plans.  As we make decisions, we will post them to the site!
    </p>
    <br/>
</div>