<link href="~/Content/Styles/content.css" rel="stylesheet" />

<div id="after-party-container" class="content ui-corner-all">
    <h2>Stateside Celebration...</h2>
    <br/>
    <div style="text-align: center; font-size: 17pt;">
        <strong>Saturday, May 23, 2015</strong><br/>
        <strong>at 11 o'clock in the morning</strong><br/><br/>
    </div>
    <div>
        <img src="~/Content/Images/marshabrown.png" width="400px;" />
    </div>
    <br/>
    <p style="font-size: 16pt; line-height: 32px;">
        Marsha Brown Restaurant<br/>
        15 South Main Street<br/>
        New Hope, Pennsylvania
    </p>
</div>