<link href="~/Content/Styles/content.css" rel="stylesheet" />

<div id="after-party-container" class="content ui-corner-all">
    <h2>After party...</h2>
    <p>
        Can't make it to St. Lucy for the wedding?  Don't worry, we're throwing a party at home when we get back!  More details coming soon. 
    </p>
    <br/>
</div>