<link href="~/Content/Styles/About/aboutthecouple.css" rel="stylesheet" />

<div id="engagement-container" class="content ui-corner-all">
    <h2>The engagement...</h2>
    <p>
        Two days before Corri’s birthday in early March, Mike said he had an early birthday present to give her.  Corri knew it was serious because Mike put Jax in 
        his crate and sat her down.  First he presented her with a shoe box of the most beautiful and luxurious pair of shoes, which sent Corri into a hyperventilating fit.   
        These particular shoes represented “making it” and “success”— a goal Corri had been working towards since moving to New York.  
        <br/><br/>
        As Mike got down on one knee to slip 
        the beautiful shoe onto her foot, he also reached into his pocket for a tiny blue box and talked about setting a new goal since she already reached her first.  
        As Corri caught on to what was happening, the hyperventilating increased and she immediately said “yes” about 52 times.  To this day, she still has no idea what 
        Mike planned on saying or if she was answering a particular question.  
    </p>
    <br/>
</div>