<link href="~/Content/Styles/content.css" rel="stylesheet" />

<div id="wedding-container" class="content ui-corner-all">
    <h2>Wedding in St. Lucia</h2>
    <p dir="ltr">
        A quick THANK YOU for making our St. Lucia wedding trip a massive success! It was more amazing, incredible and memorable than we ever expected. We’re
        elated that you could be there with us.
    </p>
    <div>
        <br/>
        <h2 dir="ltr" style="font-size: 15pt;">
            Our top 10 favorite moments
        </h2>
        <ol>
            <li dir="ltr">
                <p dir="ltr">
                    Uncle Bryan’s leprechaun suit
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/unclebrian.png"
                width="406px;"
                height="304px;"
                />
        </p>
        <ol start="2">
            <li dir="ltr">
                <p dir="ltr">
                    Dance party on the catamaran!
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/boatdance.png"
                width="409px;"
                height="306px;"
                />
        </p>
        <ol start="3">
            <li dir="ltr">
                <p dir="ltr">
                    Drinking BBCs and Piton beers at the swim-up bar
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/poolbar.png"
                width="428px;"
                height="320px;"
                />
        </p>
        <ol start="4">
            <li dir="ltr">
                <p dir="ltr">
                    Jameson shots on an otherwise Jameson-free island
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/boatjamison.png"
                width="378px;"
                height="504px;"
                />
        </p>
        <ol start="5">
            <li dir="ltr">
                <p dir="ltr">
                    Group dinner on the waterside cliffs
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/dinner.png"
                width="441px;"
                height="330px;"
                />
        </p>
        <ol start="6">
            <li dir="ltr">
                <p dir="ltr">
                    Skinnydipping in the ocean!
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/oceandip.png"
                width="441px;"
                height="330px;"
                />
        </p>
        <ol start="7">
            <li dir="ltr">
                <p dir="ltr">
                    Becoming the Limbo Queen
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/limbo.png"
                width="378px;"
                height="504px;"
                />
        </p>
        <ol start="8">
            <li dir="ltr">
                <p dir="ltr">
                    This view:
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/pinkhouse.png"
                width="422px;"
                height="316px;"
                />
        </p>
        <ol start="9">
            <li dir="ltr">
                <p dir="ltr">
                    Saying our vows to each other in front of our friends and family
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/firstdance.png"
                width="378px;"
                height="504px;"
                />
        </p>
        <ol start="10">
            <li dir="ltr">
                <p dir="ltr">
                    Spending time with 41 of our closest friends and family that are now also friends and family :)
                </p>
            </li>
        </ol>
        <p dir="ltr">
            <img
                src="http://www.corriandmike.com/Content/Images/allboat.png"
                width="450px;"
                height="337px;"
                />
        </p>
    </div>
    <br/><br/>
</div>
