<link href="~/Content/Styles/content.css" rel="stylesheet" />

<div id="wedding-container" class="content ui-corner-all">
    <h2>Wedding plans...</h2>
    <p>
        In short, there are none!  We are enjoying engaged life and taking our time making wedding plans.  As we make decisions, we will post them to the site!
    </p>
    <br/>
</div>