<link href="~/Content/Styles/content.css" rel="stylesheet" />

<div id="wedding-container" class="content ui-corner-all">
    <h2>Wedding in St. Lucia...</h2>
    <p class="left-align">
        <strong>Resort:</strong> <a href="http://stlucianow.com/resorts/all-inclusive/smugglers-cove-resort-and-spa" target="_blank">Smuggler's Cove</a>: More details on booking coming soon!
    <p class="left-align">
        <strong>Flight:</strong> Direct flights - about 4.5 hours - are traveling from New York (JFK) and Newark (EWR) to St. Lucia (UVF).
    </p>
    <p class="left-align">    
        <strong>Passports:</strong> Valid passports are required for travel into St. Lucia. To apply for or renew your passport, start <a href="http://travel.state.gov/content/passports/english.html" target="_blank">here</a>.
    </p>
    <p class="left-align">
        <strong>Packing List:</strong>
    </p>
    <ul id="packing-list" class="left-align">
        <li>Sunscreen, lots of it!</li>
        <li>Hat. Seriously, there is a lot of sun.</li>
        <li>Sunglasses. You get the idea.</li>
        <li>Men are required to wear long pants for dinner at the resort (it is cooler at night).</li>
        <li>Small bills. Both US Dollars and Carribean Dollars are widely accepted.<br/>Exchange rate is currently $2.7 Carribean => $1 US.</li>
    </ul>
    <br/>
    <img src="~/Content/Images/St. Lucia 1.jpg" style="width: 350px; margin: 10px auto;"/><br/>
    <img src="~/Content/Images/St.Lucia 2.jpg" style="width: 350px; margin: 10px auto;"/>
    <br/>
</div>