@model CorriAndMike.ViewModels.Admin.EmailTemplateViewModel

<p>
    We can’t wait to see you at the engagement party—five days away!  We so appreciate you traveling from near and far to celebrate with us, so we want to make it really count!
</p>

<p>
    After the engagement party, we’re continuing the celebration (and the drinking) at the <a href="http://www.zeppelinhall.com/">Zeppelin Hall Biergarten</a>, which is walking distance from the party.  I hope you can stay to hang out.  
</p>

<p>
    See you soon!  Don’t forget your party pants and drinking shoes!!
</p>

<a href="http://www.corriandmike.com"><img src="http://www.corriandmike.com/Content/Images/Layout/header.png" /></a>
<br/>
Corri & Mike