@model CorriAndMike.ViewModels.Admin.EmailTemplateViewModel

<p dir="ltr">
    We’re so close! Some last minute notes to help you pack and get you excited…
</p>
<ol>
    <li dir="ltr">
        <p dir="ltr">
            Rough timeline:
        </p>
    </li>
    <ol style="list-style-type: lower-alpha;">
        <li dir="ltr">
            <p dir="ltr">
                <strong>Friday, March 20:</strong> Group dinner at 6pm at the Waterside Deck. This is our version of a “rehearsal dinner” and our chance to get everyone
                together for a welcome celebration. Please attend.
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                <strong>Saturday, March 21:</strong> Half day catamaran/snorkeling/drinking excursion from 2pm-7pm. This is an optional trip, but we would love
                for you to join us for fun and seeing more of the island! Adult - $90.00 USD, Child - $55.00 USD. If interested in joining, please RSVP by 3/20
                to Tessa. Contact information: email <a href="mailto:tmcdonald@nexustours.com">tmcdonald@nexustours.com</a> or call 758 – 457-4187 or 758- 285
                -2139 Just ask for Tessa. If she's not available, leave information with Stephia or Azan. Please note, the boat fills up so RSVP early if you
                plan to come!
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                <strong>Sunday, March 22:</strong> Hang out by the pool and ocean for general relaxation and fun! Take full advantage of the swim-up bar!
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                <strong>Monday, March 23:</strong> Wedding at The Pink Plantation House. Transportation leaves from Smuggler’s Cove promptly at 4:30 pm.
            </p>
        </li>
    </ol>
    <li dir="ltr">
        <p dir="ltr">
            Dinner reservations, excursions, etc: The morning after your arrival to the hotel, a group orientation will be held where you’ll receive further
            direction of the activities available at the hotel, eating times and options, additional excursions, etc. Our brief overview: There are several
            restaurants where you need to make reservations for dinner. Reservations can be made at the Piton Lounge during morning hours. List of restaurants            
            <a href="http://www.smugglersbeachresorts.com/en/Dining-and-Entertainment.aspx">here</a>. We suggest eating at the buffet the day you arrive, which
            opens around 6pm, and try out the other restaurants throughout your stay.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Dress code: For dinner “elegant casual” is required. That means no shorts, sleeveless shirts, flip flops or tank tops for gentlemen. Dress shorts
            are acceptable at The Cove Buffet restaurant.  Wedding dress code is similar to dinner, but no jeans or sneakers!
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Taxi from airport: Upon arrival at the airport, the resort is about an hour and a half drive to the other end of the island. Cabs are readily
            available at the airport and do not need to be reserved ahead of arrival. We suggest pairing up with other guests that are arriving at the same
            time. Cost is approximately $100, and cash is needed for this.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Jameson at the airport: It is with a heavy heart that I warn you that there is no Jameson in St. Lucia. If you are in need of Jameson or any other
            name brand liquor, purchase at the airport BEFORE boarding your flight to St. Lucia in the duty free shop! You can declare at customs when you
            arrive.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Credit cards, $$, exchange rates: Smuggler’s Cove is an all-inclusive resort. However, you should have cash for the cab rides to and from the
            airport. We also suggest bringing small bills for any souvenirs or other purchases you may make. Credit cards can be used for excursions and other
            larger purchases, but please notify your credit card companies you will be traveling outside of the country and check your foreign transaction
            fees. Current exchange rate: 1 USD = 2.7 ECD (Eastern Caribbean Dollar)
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Power converters: Smuggler’s Cove has limited US outlets (110v) in your room. While the hotel does offer some converters, we suggest bringing a
            220v to 110v converter, or if you are feeling adventurous, a power strip will work too.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            How to set your phone: First off, we highly recommend you use this as an opportunity to “go off the grid” and escape from work emails for a couple
            days :) There are wifi zones in the main areas of the hotel, but to ensure you don’t get any outlandish phone charges, make sure to turn your cell
            service off. Android users can put your phones on Airplane mode with WiFi on, and Apple iPhone users can go to Settings &gt; Cellular
            and turn off Cellular Data. We recommend doing this before you land as your phone will immediately start roaming if it is on, and there is an active
            St. Lucia cell signal.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Don’t forget your passport and sunscreen!!
        </p>
    </li>
</ol>
<p>If you have any questions please email, call, or text us!</p>
<br/>
<p>Lots of love, </p>

<img src="http://www.corriandmike.com/Content/Images/Layout/header.png" />

<br/>
Corri & Mike
<br/>
(570)436-0554
<br/>
<a href="mailto:corri.skinner@gmail.com">corri.skinner@gmail.com</a>
<br/>
<a href="mailTo:me@mikeslevine.com">me@mikeslevine.com</a>
<br/>
<a href="http://www.corriandmike.com">www.CorriAndMike.com</a>
<br/><br/>