@model CorriAndMike.ViewModels.Admin.EmailTemplateViewModel

<p>Hello from sunny, 80-degree St. Lucia! </p>
<br/>
<p>A quick (good news) update regarding the group catamaran tour on Saturday: We had enough interest to upgrade to Paradise Beach Escape - Private Cruise.   </p>
<br/>
<p>Details: Cruise down the west coast of the island to a secluded beach ANSE MAHAUT. For swimming snorkeling and watersports (motorized watersports at a small additional charge). Then cruise further down the coast to the pitons before heading back. A chef is provided on  board for fresh hot food. </p>
<br/>
<p>The times have been changed to 10am -3pm, leaving the resort at 9:30 and returning with plenty of time for dinner! </p>
<br/>
<p>The price is also reduced at $80.00 per person.</p>
<br/>
<p>If interested in joining, please RSVP by 3/20 to Tessa. Contact information: email tmcdonald@nexustours.com or call 758 – 457-4187 or 758- 285 -2139 Just ask for Tessa. If she's not available, leave information with Stephia or Azan.  If you've already RSVPed you're all set!</p>
<br/>
<p>We can't wait for you all to join us in paradise :)</p>
<br/>
<br/>
<p>Lots of love, </p>

<img src="http://www.corriandmike.com/Content/Images/Layout/header.png" />

<br/>
Corri & Mike
<br/>
(570)436-0554
<br/>
<a href="mailto:corri.skinner@gmail.com">corri.skinner@gmail.com</a>
<br/>
<a href="mailTo:me@mikeslevine.com">me@mikeslevine.com</a>
<br/>
<a href="http://www.corriandmike.com">www.CorriAndMike.com</a>
<br/><br/>