@model CorriAndMike.ViewModels.Admin.EmailTemplateViewModel

It's almost time to party! Here's some helpful information on traveling to The Iron Monkey. 
<br/>
<p>
    Saturday July 6, 2013<br/>
    12:00pm - 3:00pm
</p>
<address>
    <span style="color:#9f4d95;">The Iron Monkey</span><br/>
    97 Greene St <br/>
    Jersey City, NJ <br/>
    <a id="iron-monkey-link" href="http://www.ironmonkey.com">www.ironmonkey.com</a>
</address>
<a href="http://goo.gl/maps/Zi1QW">Google Map</a>
<br/><br/>
<p>
    <h2 style="text-decoration: underline; margin: 0px;">Parking</h2>
    There are 3 parking decks, 1 which is next to to the venue. They are marked off on the image below.<br/>
    <img src="http://www.corriandmike.com/Content/Images/iron-monkey-parking.jpg" />
</p>
<p>
    <h2 style="text-decoration: underline; margin: 0px;">Mass Transit</h2>
    If you're planning on taking NJ Transit to Hoboken you can then take the NJ Light Rail to the Iron Monkey. The Light Rail is located outside the Hoboken station towards Jersey City (take a right off the train platform).<br/>
    Take the Hudson-Bergen Line towards Bayonne 8th Street to the Exchange Place Station. The Iron Monkey is a block walk on York Street heading away from the water.
    <br/><br/>
    There is also the option to take the PATH train from Hoboken to Grove Street and walking about 10 minutes down Columbus Drive to Greene street. The Hoboken PATH to World Trade Center does not run on the weekends.  
    <br/><br/>
</p>
<p>
    <h2 style="text-decoration: underline; margin: 0px;">Driving Directions</h2>
    <strong>From Garden State Parkway:</strong><br/>
    Take exit 153 on the left to merge onto NJ-3 E toward Lincoln Tunnel	<br/>
    Take the exit toward U.S. 1/US-9/Jersey City	<br/>
    Merge onto NJ-3 E<br/>
    Continue onto U.S. 1 S/U.S. 9 S/Tonnelle Ave<br/>
    Turn left toward NJ-139 E<br/>
    Take the ramp onto NJ-139 E<br/>
    Merge onto I-78 E<br/>
    Turn right onto Marin Blvd<br/>
    Turn left onto Columbus Dr<br/>
    Take the 3rd right onto Greene St<br/>
    Destination will be on the right<br/>
    <strong>From New Jersey Turnpike</strong><br/>
    Take exit 15W for Interstate 280 toward Newark/Kearny<br/>
    Merge onto I-280 W<br/>
    Take exit 17A toward County 508 E/Jersey City<br/>
    Merge onto Newark Turnpike<br/>
    Slight left onto the US 1 N/US 9 N ramp to Lincoln Tunnel/Secaucus<br/>
    Keep right at the fork, follow signs for New Jersey 139 E/Hoboken/Hollan Tunnel<br/>
    Keep left at the fork and merge onto NJ-139 E<br/>
    Merge onto I-78 E<br/>
    Turn right onto Marin Blvd<br/>
    Turn left onto Columbus Dr<br/>
    Take the 3rd right onto Greene St<br/>
    Destination will be on the right<br/>
    <strong>From Bayonne Bridge</strong><br/>
    Continue onto NJ-440 N<br/>
    Take the exit toward I-78/I-95<br/>
    Merge onto Port Jersey Blvd<br/>
    Continue onto Ave E<br/>
    Keep right at the fork, follow signs for Interstate 78 E/Jersey City/Holland Tunnel and merge onto I-78 E<br/>
    Take the exit toward Jersey City/Columbus Drive<br/>
    Continue straight onto Columbus Dr<br/>
    Turn right onto Greene St<br/>
    Destination will be on the right<br/>
</p>

<p>We can't wait to see you there!</p>

<img src="http://www.corriandmike.com/Content/Images/Layout/header.png" />

<br/>
Corri & Mike
<br/>
(570)436-0554
<br/>
<a href="mailto:corri.skinner@gmail.com">corri.skinner@gmail.com</a>
<br/>
<a href="mailTo:me@mikeslevine.com">me@mikeslevine.com</a>
<br/>
<a href="http://www.corriandmike.com">www.CorriAndMike.com</a

